# Snakemake
.snakemake/
*.snakemake.log

# Outputs reports
results/
logs/
benchmarks/
multiqc_pgdx/
fastp.html
fastp.json
multiqc_data/
multiqc_report.html

# Raw data sequencing
data/
RawData/
*.fastq
*.fq
*.fastq.gz
*.fq.gz

# Alignment
*.sam
*.bam
*.bai
*.cram
*.crai
*.vcf
*.vcf.gz
*.tbi
*.bed
*.bed.gz
*.wig
*.bw
*.bedGraph

# Reference genomes
ref/hg38/

# Binary tools
bin/

# Python cache
__pycache__/
*.pyc

# OS editor
.DS_Store
*.swp
